---
import Layout from '../layouts/Layout.astro';
import arrow from '/Arrow.svg'
import v_arrow from '/Arrow-vertical.svg'
import github from '/github.svg'
import linkedin from '/linkedin.svg'
import me from '/me.jpg'
---

<Layout title="Timchenko">
	<main class="px-10 mx-auto">

		<section class="flex flex-col md:flex-row items-center md:items-start justify-center gap-9 mt-36 ">
			<section>
				<img class="rounded-full w-48 md:inline-block" src={me} alt="">

			</section>
			<section class="md:relative flex md:block flex-col items-center">
				<h1 class="text-5xl font-bold flex md:block flex-col items-center">
					<span class="text-[#7f5af0]">Anton</span>
					<span class="text-[#FFFFFE]">Timchenko</span>
				</h1>
				<p class="font-mono text-lg text-[#FFFFFE]">Front-end Developer</p>
				<p class="font-mono">create. explore. refactor.</p>
				<div class="flex gap-2 mt-4">
					<a href="https://github.com/Timchenko99" target="_blank"><img src={github} alt="github icon" class="w-16 md:w-12"></a>
					<a href="#" target="_blank"><img src={linkedin} alt="linkedin icon" class="w-16 md:w-12"></a>
				</div>
				<p class="mt-8 font-mono">Check out my resume below!</p>
				<a class="bg-[#7f5af0] text-[#fffffe] px-8 py-4 rounded-md inline-block mt-2 font-mono hover:bg-purple-700 active:bg-violet-700 focus:outline-none focus:ring focus:ring-violet-300"
					href="./Resume-styled.pdf" target="_blank">Download</a>

				<img src={arrow} class="mt-4 left-[-70px] hidden md:block md:absolute" alt="">
				<img src={v_arrow} alt="" class="mt-4 md:hidden">
			</section>
		</section>

		<section id="about" class="flex flex-col  md:grid grid-cols-2 gap-9 mt-36 max-w-[55rem] mx-auto">
			<h2 class="font-bold text-2xl text-[#fffffe]">About</h2>
			<article>
				<p>Front-end developer with passion to create expressive UI and UX.</p>
				<br />
				<p>To achive my goals I use a variety of tools such as: <strong>ReactJS</strong>, <strong>NextJS</strong>, <strong>Astro</strong>, react-router, <strong>Redux</strong>,
					redux-thunk, <strong>TailwindCSS</strong>, CSS, axios, jest, firebase, ejs, chart.js, JavaScript, TypeScipt, Node.js,
					Express.js, jQuery, Vue.js, C#, Unreal Engine, C++ 12/15, Java 8, Kotlin, Dart, Flutter, Android, Mustache.js,
					google chrome extensions, bootstrap 3/4.</p>
			</article>
		</section>

		<section id="education" class="flex flex-col  md:grid grid-cols-2 gap-9 mt-36 max-w-[55rem] mx-auto mb-9">
			<h2 class="font-bold text-2xl text-[#fffffe]">Education</h2>
			<ul>
				<li>
					<span class="font-bold text-violet-600">Kyiv National University of Trade and Economics;</span>
					Field of Study: Information Technologies,
					Subject Area: System Analysis,
					Degree: Bachelor of Science,
					Location: Kyiv,
					Date of graduation: June 2020.
				</li>
				<br />
				<li>
					<span class="font-bold text-violet-600">College of computer technology and economics of NAU;</span>
					Field of Study: Information Technologies,
					Subject Area: Software Development,
					Degree: Junior Specialist,
					Location: Kyiv,
					Date of graduation: May 2019.
				</li>
			</ul>
		</section>


	</main>
</Layout>